$name-color: #24c18b;
$background-color: #121212;
$text-color: #ffffff;
$backgroud-block: #3b3b3b;
$background-hightlight-color: rgba(#ffffff, .05);
$light-background-text-color: rgba(#ffffff, .5);
$faint-background-text-color: rgba(#ffffff, .5);

$blue-color: #3f8efc;
$orange-color: #fb5607;
$green-color: #059c75;
$green-highlight-color: #2ecc71;